body {
    font-family: 'Josefin Sans', sans-serif;
}

.btn--group {
    font-size: 38px;
    margin-top: 22px;
}

a {
    text-decoration: none;
    color: black;
}

#heading {
    margin-top: 199px;
    font-size: 78px;
    text-align: center;
}

.desc {
    padding: 20px;
    margin-top: 500px;
    text-align: center;
    margin-bottom: 200px;
}
